<%-include('./cabecalho.ejs')%>
  <!-- bloco principal -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Turmas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/principaladm">Principal</a></li>
          <li class="breadcrumb-item active">Turmas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Turmas listadas: </h5>
            <div style="display:flex; gap:20px;">
            
          </div>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Turma</th>
                </tr>
              </thead>
              <% let linha = 0; %> <% turma.forEach(function(turmas) { %> 
                <% if (turmas.turma != null && turmas.turma != "-") { %>
                  <%linha += 1; %>
              <tbody>
                <tr class="Turma"> 
                  <th scope="row">
                    <%=linha %>
                  </th>
                  <td><%=turmas.turma%></td>
                  <td>
                    <div style="display:flex; gap: 15px">
                      <form method="post" action="/veralunos/<%=turmas.id%>">
                      <button type="submit" href="" class="btn btn-info">Ver alunos</button>
                      </form>
                      <form method="post" action="/edtturma/<%=turmas.id%>">
                        <button type="submit" href="" class="btn btn-primary">Editar turma</button>
                        </form>
                      <form method="post" action="/excluirturma/<%=turmas.id%>">
                      <button type="submit" class="btn btn-danger">Excluir turma</button>
                      </form>
                  </div>
                </td>
                </tr>
                
                </tr>
                <!-- Outros alunos com cursos e turmas correspondentes -->
                
              </tbody>
              <% } %>
              <% }); %>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

        
      </div>
    </section>

  </main><!-- End #main -->

 
  <%-include('./rodape.ejs')%>